<h1>Make A New Investment</h1>

  

  <%= form_for ([@company, @round, @investment]) do |f| %>

  <div class="field">
    <%= f.label :amount%><br>
    <%= f.text_field :amount %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


