

  

  <%= form_for ([@company, @round, @investment]) do |f| %>
	<div class = "formtitle">
		<center>Make A New Investment</center>
		<br>
	</div>

  <div class="field">
  	<div class = "formlabel">
	    <%= f.label :amount%><br>
	    <%= f.text_field :amount %><br>
  	</div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


