<h2>Angels North can help choose the right lead for you</h2>

   <%= link_to company_round_path(@company, @round) do %>
    <div class="button-path">
      <h3>I am the lead investor</h3>
    </div>
  <% end %>
  <%= link_to company_round_path(@company, @round) do %>
    <div class="button-path">
      <h3>I have a lead investor aligned up</h3>
    </div>
  <% end %>

  <%= link_to investors_path do %>
    <div class="button-path">
      <h3>Find a lead investor on Angels North</h3>
    </div>
  <% end %>

</div>
