<div class="window welcome">
  <h2>In Canada, companies have the choice of using </h2>

  <p>Select how you would like to proceed:</p>

   <%= link_to fundraisings_findalead_company_rounds_url do %>
    <div class="button-path">
      <h3>I want to use a lead syndicate to raise my round</h3>
    </div>
  <% end %>

  <%= link_to company_round_path(@company, @round) do %>
    <div class="button-path">
      <h3>I want to use the offering memorandum to raise my round</h3>
    </div>
  <% end %>

