aboutus.html.erb

<h3>Companies Apply to Pitch</h3>
<p>Every company that applies to pitch is reviewed according to Syndicate North's application process following best practices. </p>
<p>Note: Syndicate North does not engage in company selection, it simply facilitates the process for its members</p> 

<h3>The Best are Selected</h3>
<p>If due diligence is passed and we feel you are a great fit for the company, we invite highly qualified lead investors to view your company information.</p>

	<h3>Term Sheet is Negotiated</h3>
	<p>The lead investor and company negotiate the terms, as well as institutional level rights blah blah <p>

