
 <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url(/background1.jpg);"></div>
                    <div class="intro-message-1">
                        <h1>Peerfunder</h1>
                         <hr class="intro-divider=1">
                        <h3 style="line-height:1.25">We connect small businesses with local investors to develop meaningful investment opportunities </h3><br><br><br>
                    </div>
                    <div class = "intro-message-button">
                        <a class="btn btn-default" href="#"><h4>Invest Online</h4></a>
                    </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class = "overlay1">
                <div class = "overlay2">
                <div class="fill" style="background-image:url(/background2.jpg);"></div>
                </div>
                </div>
                    <div class="intro-message-1">
                        <h1>What is next for Crowdfunding in Canada?</h1>
                        <hr class="intro-divider=1">
                        <h3>Find out how our platform disrupts the fundraising landscape</h3>
                    </div>
                    <div class = "intro-message-button">
                        <a class="btn btn-default" href="#"><h4>Learn More</h4></a>
                    </div>
                <div class="carousel-caption">
                
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url(/background3.jpg);"></div>
                    <div class="intro-message-1">
                        <h1>Are you a company looking to Raise Capital?</h1>
                        <hr class="intro-divider=1">
                        <h3>Use our platform today</h3>
                    </div>
                     <div class = "intro-message-button">
                        <a class="btn btn-default" href="#"><h4>Join Today</h4></a>
                    </div>
                <div class="carousel-caption">
                  
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>



    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <br>
                    <h2>Start a Campaign on Peerfunder</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                    <div class="squarelinkimage" style="background-image:url(/businessman278.png);">
                                    </div>
                                </span>
                                <h4>
                                    <strong>Highly vetted <br>investments</strong>
                                </h4>
                                <p>All companies that go through a round have passed a thorough check at the hands of our investment team and a lead investor before they are listed</p>
                                <div class = "learn-more">
                                    <a href="#" class="btn btn-light"><b>Find Out More</b></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <!-- <i class="fa fa-university fa-stack-1x text-primary"></i> -->
                                     <div class="squarelinkimage" style="background-image:url(/ascendant6.png);">
                                     </div>
                            </span>
                                <h4>
                                    <strong>Invest with the professionals</strong>
                                </h4>
                                <p>Opportunities are led by experienced investors who invest at the same share price ans class as you
                                lead investor before they are listed</p>
                                <div class = "learn-more">
                                    <a href="#" class="btn btn-light"><b>Find Out More</b></a>
                                </div>    
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                             <!--    <i class="fa fa-compass fa-stack-1x text-primary"></i> -->
                                  <div class="squarelinkimage" style="background-image:url(/piechart2.png);">
                                  </div>
                            </span>
                                <h4>
                                    <strong>Canadian Owned, Based, and Operated</strong>
                                </h4>
                                <p>We are 100% Canadian Owned</p>
                                <br><br><br><br>
                                <div class = "learn-more">
                                    <a href="#" class="btn btn-light"><b>Find Out More</b></a>
                                </div>    
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <!-- <i class="fa fa-usd fa-stack-1x text-primary"></i> -->
                                     <div class="squarelinkimage" style="background-image:url(/social108.png);">
                                     </div>
                            </span>
                                <h4>
                                    <strong>Start a campaign using your network</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <br><br><br>
                                <div class = "learn-more">
                                    <a href="#" class="btn btn-light"><b>Find Out More</b></a>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


 <a name="contact"></a>
    <div class="banner">
        <!-- /.container -->
           <!-- Content Row -->
<div class = "container">
    <div class="row">
            <div class="col-md-6">
                <center>
                <h2 class = "content-title">Investors</h2>
                <p class = "content-information">
                    Invest alongside professional investors<br>
                    Same share class, price per share as the lead investor<br>
                    No fees to the investor<br>
                    Minimum investment of $1000
                  <%= link_to entrepreneurs_path do %>
                    <p class = "btn btn-default">Join the Investor Network</p>
                  <% end %>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-6">
                <center>
                <h2 class = "content-title">Entrepreneurs</h2>
                <p class = "content-information">
                   Crowdfund in Canada<br>
                   Sophisticated crowd of investors <br>
                   Flat fee on funds raised <br>
                   Standarized and streamlined legal documentation 
                  <%= link_to entrepreneurs_path do %>
                    <p class = "btn btn-default">Learn About Raising Capital</p>
                  <% end %>
            </div>
            <!-- /.col-md-4 -->
 
    </div>
</div>
<!-- 
  <div class = "link-path">
  <%= link_to new_user_session_path do %>
    <h5 align = "left" >Already have an account? Login here</h5>
  </div>
  <% end %> -->



<script type = "text/javascript">
  $(document).ready(function(){
  $('.bxslider').bxSlider({
      auto: true,
      autoControls: true
  });
});
</script>

<script>
  $('.carousel').carousel({
    interval: 5000 //changes the speed
  })
</script>   

