

<ul class="bxslider">
    <center><li>
      <h2 class = "slidertext">Syndicate North</h2>
      <h3 class = "sliderbutton">How It Works</h3>
      <div class = "backgroundoverlay">
      <img src="http://pixabay.com/static/uploads/photo/2014/09/02/12/50/panorama-433610_640.jpg" title="How It Works" class = "sliderimage" />
    </div>
    </li></center>

  
    <center><li>
      <h2 class = "slidertext">Equity Crowdfunding</h2>
      <h3 class = "sliderbutton">Find out More </h3>
      <img src="http://pixabay.com/static/uploads/photo/2015/01/08/18/11/startup-593296_640.jpg" title="Join Today" class = "sliderimage" />
    </li></center>


    <center><li>
      <h2 class = "slidertext">Test</h2>
      <h3 class = "sliderbutton">Join Now</h3><img src="http://pixabay.com/static/uploads/photo/2015/02/05/09/17/office-624749_640.jpg" title="Join Today" class = "sliderimage" />
    </li></center>
</ul>

<div class="window welcome">
    <h2 class="center">Syndicate North</h2>
  <h3 class="center">Equity Crowdfunding for Startups and Small Businesses</h3>

    <div id = "welcomemessage">
    <p>
    We help Canadian companies privately raise capital, and investors to explore new iniatives
    </p>
   </div>


  </h3>


  <p>Select how you would like to proceed:</p>

  <%= link_to new_user_session_path do %>
    <div class="button-path">
      <h3>Invest in Canadian Startups</h3>
    </div>
  <% end %>

  <%= link_to new_user_session_path do %>
    <div class="button-path">
      <h3>Fund Your Company</h3>
    </div>
  <% end %>

  <div class = "link-path">
  <%= link_to new_user_session_path do %>
    <h5 align = "left" >Already have an account? Login here</h5>
  </div>
  <% end %>

   </div>

<script type = "text/javascript">
  $(document).ready(function(){
  $('.bxslider').bxSlider({
      auto: true,
      autoControls: true
  });
});
</script>

