<div class="window welcome">
  <h2>Angels North helps Canadian companies privately raise capital, and investors to privately invest in Canadian companies</h2>

  <p>Select how you would like to proceed:</p>

  <%= link_to new_user_session_path do %>
    <div class="button-path">
      <h3>As a company looking to find investors and raise capital</h3>
    </div>
  <% end %>

  <%= link_to new_user_session_path do %>
    <div class="button-path">
      <h3>As an investor looking to invest in a company</h3>
    </div>
  <% end %>

  <%= link_to new_user_session_path do %>
    <div class="button-path">
      <h3>As a basic user able to view companie's and investor's public pages</h3>
    </div>
  <% end %>

</div>
