<div class="window welcome">
    <h2 class="center">Angels North</h2>
  <h3 class="center">Equity Crowdfunding for Startups and Small Businesses</h3>

    <div id = "welcomemessage">
    <p>
    We help Canadian companies privately raise capital, and investors to explore new iniatives
    </p>
   </div>


  </h3>


  <p>Select how you would like to proceed:</p>

  <%= link_to new_user_session_path do %>
    <div class="button-path">
      <h3>As a company looking to find investors and raise capital</h3>
    </div>
  <% end %>

  <%= link_to new_user_session_path do %>
    <div class="button-path">
      <h3>As an investor looking to invest in a company</h3>
    </div>
  <% end %>

  <%= link_to new_user_session_path do %>
    <div class="button-path">
      <h3>As a basic user able to view companies' and investor's public pages</h3>
    </div>
  <% end %>

  <div class = "link-path">
  <%= link_to new_user_session_path do %>
    <h5 align = "left" >Already have an account? Login here</h5>
  </div>
  <% end %>

   </div>


