

<ul class="bxslider">
    <center><li>
      <h2 class = "slidertext">Raise capital for your company like never before</h2>
      <h3 class = "sliderbutton">Start Today!</h3>
      <div class = "backgroundoverlay">
      <img src="http://pixabay.com/static/uploads/photo/2014/09/02/12/50/panorama-433610_640.jpg" title="How It Works" class = "sliderimage" />
    </div>
    </li></center>

  
    <center><li>
      <h2 class = "slidertext">Investors</h2>
      <h3 class = "sliderbutton">Join Now</h3>
      <div class = "backgroundoverlay">
      <img src="http://pixabay.com/static/uploads/photo/2015/01/08/18/11/startup-593296_640.jpg" title="Join Today" class = "sliderimage" />
    </div>
    </li></center>


    <center><li>
      <h2 class = "slidertext">whatat is Equity Crowdfunding?</h2>
      <h3 class = "sliderbutton">Find out More</h3>
      <div class = "backgroundoverlay">
      <img src="http://pixabay.com/static/uploads/photo/2015/02/05/09/17/office-624749_640.jpg" title="Join Today" class = "sliderimage" />
      </div>
    </li></center>
</ul>

<div class="window welcome">
  <div class = "linkpaths">
    <h2 class="center">Why Start A Round With Syndicate North?</h2>
  <h3 class="center"></h3>


<div id = "linkpath1">
      <div id = "squareposition">
            <img src="http://www.motorolasolutions.com/web/Business/Solutions/Network_Technologies/Icon_Security_324x324.jpg" class = "squarelinkimage">
      </div>
      <h3>Highly Vetted Investments</h3>
</div>



<div id = "linkpath2">
      <div id = "squareposition2">
            <img src="https://cdn3.iconfinder.com/data/icons/users/100/user_suitcase-512.png" class = "squarelinkimage">
      </div>
      <h3>Invest with professionals</h3>
</div>

<div id = "linkpath3">
      <div id = "squareposition3">
            <img src="http://cliparts.co/cliparts/yik/KrE/yikKrEXjT.jpg" class = "squarelinkimage">
      </div>
      <h3>Canadian Owned, Based, and Operated</h3>
</div>

<div id = "linkpath4">
      <div id = "squareposition4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_3QxbE4o5uUbs900LOALOxIjy-K1DlM6qMq6Eblifnv_OjwKH" class = "squarelinkimage">
      </div>
      <h3>No Transaction Fees</h3>
</div>
</div>
</div>

<div class="window welcome">

    <div class = "columns">
     <h2 class="center">Investors</h2>
     <p class = "homepage-investor-description">
     Find startups in Canada that you want to invest in<br>
     Invest alongside professional and accredited investors <br>
     Same share class, same price per share as the lead investors<br>
     No fees to the investor</p>
     <%= link_to new_user_session_path do %>
      <p class = "investor-button">Sign Up Today</p>
     <%end%>

     <h2 class="center">Entrepeneurs</h2>
     <p class = "homepage-investor-description">
     Raise Funds with a lead investor<br>
     Standarized legal documentation and crowdfunding process <br>
     SaaS Platform to manage your investors <br>
     test teststest
     </p>
      <%= link_to new_user_session_path do %>
     <p class = "investor-button">Learn More</p>
      <% end %>
    </div>

</div>

  <div class = "link-path">
  <%= link_to new_user_session_path do %>
    <h5 align = "left" >Already have an account? Login here</h5>
  </div>
  <% end %>

<script type = "text/javascript">
  $(document).ready(function(){
  $('.bxslider').bxSlider({
      auto: true,
      autoControls: true
  });
});
</script>

