<div class="edit-field" id = "edit_user_biography">
	<%= form_for @user, :remote => true do |f| %>
		  <div class="field">
		    <%= f.text_area :biography %>
		  </div>
		  <div class="action">
		    <%= f.submit %>
		  </div>
	<% end %>
</div>
