<h1>Additional Information</h1>
<h3><strong>Location: </strong><%= @user.location %></h3>

<h3><strong>Biography: </strong><%= @user.biography %></h3>
<h3><strong>Experience: </strong><%= @user.experience %></h3>
<h3><strong>User_type: </strong><%= @user.user_type %></h3>