<h1>This is your profile page</h1> Edit it bro

	<h3><%= @user.first_name %></h3>
	<h3><%= @user.last_name %></h3>

<div id="profile-information">
	<%= render partial: 'profileinformation', locals: {user: @user} %>
</div>


<div id = "new_profile">
	<%= render 'addtoprofileinformation' %>
</div>
