<div>
	Dashboard
</div>
	<br>
	Your Companies:

<% @companies.each do |company| %>
	<% if current_user == company.owner %> 

		<h5><strong>
		
		<%= company.elevator_pitch %><br>
		<%= company.location %></h5></strong>

	<% end %>
<% end %> 

	<% else %> 
		<%= link_to "Create a Company Profile", new_company_path  %>

	<br>
	<br>
	Porfolio:
	<br>
	<br>

	(If funded)
	Company Profile Page: (Public/Round page)
	Company Name:
	Amount Invested:
	Lead Syndacite Profile:
	Other People Invested: 

	<br><br>
	(If not funded)
	Company Profile Page: (Round page)
	Company Name:
	Funding Goal:
	Funding expiry date:
	Total amount invested: 
	Your amount invested:
	Other people invested:
	
	<br><br>
	Your friends/followers




