<% @users.each do |user| %>
	<section class="window">
	  <h1><%= user.name %></h1>
	  <h3>Biography</h3>
	  <p><%= user.biography %></p>
	  <h3>Experience</h3>
	  <p><%= user.experience %></p>
	  <br>
	  <div id = "follow_user">
	  <%= link_to "Follow", :remote => :true  %>
	  </div>
	  <br>
	</section>
<% end %>


