<h1>This is your profile page</h1>


	<h3><%= @user.first_name %></h3>
	<h3><%= @user.last_name %></h3>

<div id="profile-information">
	<%= render partial: 'profileinformation', locals: {user: @user} %>
</div>

<h1>Your Portfolio (In a nutshell)</h1>
<h1>Your Followers</h1>
<h1>Your Friends</h1>
<!-- 
<script type="text/javascript">

  $(document).ready(function() {
     $("#new_profile")
        .on('ajax:beforeSend', function() {alert("loading!");})
        .on('ajax:success', function(data, status, xhr) {alert("success!");})
        .on('ajax:error', function(xhr, status, error) {alert("error!");})
        .on('ajax:complete', function() {alert("complete!");});
  });

</script> -->