

  <h1>Edit Your Company Profile</h1>
<div id = "edit_company_profile1">
 	<%= render 'form' %>
</div>


  <div id = "company_profile">
  	<%= render partial: 'companyprofileinformation', locals: {company: @company} %>
  </div>