
<h1>Companies</h1>

<% @companies.each do |company| %>
<div class="window company group">
	<h2><%= link_to company.name, company %></h2>
	<br>

	<%= link_to image_tag(company.company_logo), company_path(company) %>

	<div class="quick-description headings">
		<h3>Description</h3>
		<p><%= company.elevator_pitch %></p>
		<br>
		<h3>Office Location</h3>
		<p><%= company.location %></p>
		<br>
	</div>
</div>



<% end %>

