<div class = "companynavbar">
Overview<br>
Company Video<br>
Team<br>
Product<br>
Business Model<br>
Market<br>
Competition<br>
Investment Terms<br>
Use of Proceeds<br>
Comapny Presentation<br>
Product Screenshots<br>
Our Take<br>
Connect<br>
Q & A<br>
</div>

<div class = "window">
When you click each link show the info
</div>
