  <section class="window">

  <div id = "edit_company_profile">
    <% if can? :update, @company %>
      <%= link_to 'Edit Your Company Profile', :remote => :true %>
    <% end %>
  </div>

  <div id = "company_information">
    <%= render partial: 'companyprofileinformation', locals: {company: @company} %>
  </div>

    <% if can? :create, @company %>
      <form class="submit"  action="<%= @company.id %>/rounds/new">
        <input type="submit" value="Begin A New Fundraising Round">
      </form>
    <% end %>

</section>