<div class="window">
<h1>Who qualifies as an accredited investor?</h1>

<p>
An individual who, alone or together with a spouse, owns financial assets worth more than $1 million before taxes but net of related liabilities or<br>
</p>

<p>
An individual, who alone or together with a spouse, has net assets of at least $5,000,000.
An individual whose net income before taxes exceeded $200,000 in both of the last two years and who expects to maintain at least the same level of income this year; 
or
</p>

<p>
An individual whose net income before taxes, combined with that of a spouse, exceeded $300,000 in both of the last two years and who expects to maintain at least the same level of income this year.
An individual who currently is, or once was, a registered adviser or dealer, other than a limited market dealer
</p>
<p>
Financial institutions
Governments and governmental agencies
Insurance companies
Pension funds
Registered charities
Certain mutual funds, pooled funds and managed accounts
Companies with net assets of at least $5 million
persons or companies recognized by the OSC as an accredited investor
</p>

<p>
Do you qualify as an accredited investor? Please <%=link_to "click here to proceed", new_user_accreditation_path(@user) %>
</p>
</div>