<p>Please fill out the following information.  Thanks.</p>


<%= form_for @user do |f| %>
	<p><br>
	<div class="checkbox_tag">
	
	Click here to agree
	<%= f.check_box :accreditation %>
	</div>
 <%= submit_tag "Proceed" %>

<% end %>
</p>


