.follow {
  padding: 10px 50px;
}

.follower-box {
  width: 20%;
  display: inline-block;
  margin-left: 4.4%;
  vertical-align: top;

  img {
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  h3 {
    display: block;
    text-align: center;
  }
}

.follower-box:nth-child(3n+2) {
  margin-left: 0
}
