
form {
  @include border-radius(10px);
  border: 1px solid #ccc;
  width: 44%;
  margin: 0 auto;
  padding: 3%;
  background: #f9f9f9;


  h1 {
    text-align: center;
  }

  input, textarea {
    appearance: 0;
    height: 30px;
    width: 100%;
    border: 1px solid #ccc;
    @include border-radius(4px);
    margin: 5px 0 30px;
  }


  textarea {
    height: 100px;
  }

  input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  input[type="submit"]:hover {
    background: #717171;
    color: white;
    border: inset #717171 2px;
    @include fadein(all)
  }
}

 .submit {
    border: none;
    width: 80%;
    padding: 0;

  }
