
form {
  @include border-radius(10px);
  border: 1px solid #ccc;
  width: 44%;
  margin: 0 auto;
  padding: 3%;
  background: #f9f9f9;


  h1 {
    text-align: center;
  }

  input, textarea {
    appearance: 0;
    height: 30px;
    width: 100%;
    border: 1px solid #ccc;
    @include border-radius(4px);
    margin: 5px 0 30px;
  }


  textarea {
    height: 100px;
  }

  input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 60%;
  }

  input[type="submit"]:hover {
    background: #717171;
    color: white;
    @include fadein(all);

  }
}

 .submit {
    border: none;
    padding: 0;
    background: none;

  }

.edit-field {
  form {
    width: 100%;
    padding: 0;
    margin: 0;

    * {
      margin: 0;
    }
  }
}

.checkbox_form {
  width: 100%;

  form {
    width: 100%;
  }

  label, input, p {
    display: inline-block;
    width: 20%;
  }

  img {
    vertical-align: bottom;
    width: 30%;
    height: auto;
  }

  p {
    width: 40%;
  }

  input {
    width: 10%;
  }
}

.checkbox_tag {
  width: 49.5%;
  display: inline-block;
}
