
form {
  @include border-radius(10px);
  border: 1px solid #ccc;
  width: 44%;
  margin: 0 auto;
  padding: 3%;
  background: #f9f9f9;



  h1 {
    text-align: center;
  }


  .formlabel{
  font-size: 13px;
  font-weight: bold;
  }

  .formtitle{
  font-size: 24px;
  font-weight: none;
  font-family: 'Georgia';
  letter-spacing: 1.5px;
  font-weight: bold;

  }

  .formlinks {
  font-size: 12px;
  text-align: 'right';
  }

  input, textarea {
    appearance: 0;
    height: 30px;
    width: 100%;
    border: 1px solid #ccc;
    @include border-radius(4px);
    margin: 2px 0 30px;
  }


  textarea {
    height: 100px;
  }

  input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 60%;
  }

  input[type="submit"]:hover {
    background: #717171;
    color: white;
    @include fadein(all);

  }
}



 .submit {
    border: none;
    padding: 0;
    background: none;
    width:80%;

  }

.edit-field {
  form {
    width: 100%;
    padding: 0;
    margin: 0;

    * {
      margin: 0;
    }
  }
}

.checkbox_form {
  width: 100%;

  form {
    width: 100%;
  }

  label, input, p {
    display: inline-block;
    width: 20%;
  }

  img {
    vertical-align: bottom;
    width: 30%;
    height: auto;
  }

  p {
    width: 40%;
  }

  input {
    width: 10%;
  }

  input[type="submit"] {
    margin-top: 50px;
  }
}

.checkbox_tag {
  width: 49.5%;
  display: inline-block;
}
