 @font-face {
        font-family: "texgyreheros regular";
        src: url(/assets/textgyreheroscn-regular.otf) format("truetype");
        font-family: "SourceSansPro-Black.otf";
        src: url(SourceSansPro-Regular.otf) format("truetype");
        font-family: "Nobile Regular";
        src: url(Nobile-Regular.ttf) format("truetype");
        font-family: "BebasNeue Light";
        src: url(BebasNeue-Regular.otf) format("truetype");
        font-family: "fire sans";
        src: url(FiraSans-Light.otf) format("truetype");
    }


html, body, #container { height: 80%; }
body {
  background: #fafafa;
  min-width: 1100px;
  font-family: "SourceSansPro-Black.otf";
  color: #333;
}

body > #wrapper {
  height: auto;
  min-height: 100%;

 }


* {
  box-sizing: border-box;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group{
  *zoom: 1;
}

#wrapper {
  margin: 30px auto 0;
  width: 94%;
}

.heading {
  margin: 40px 0 10px;
}

.first {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.center {
  text-align: center !important;
}

.right {
  text-align: right !important;
}

.edit {
  text-align: right;
  margin: 50px 0 0 !important;
}

.small-caps {
  font-variant: small-caps;
}

a {
  text-decoration: none;
  color: $red;

}

a:hover {
  color: $darkred;
  @include fadein(all);
}

a.other-hover:hover {
  color: #ccc;
}


h1, h2, h3, h4, h5{
    font-weight: $bold;
    letter-spacing: 0px;
}

h2 {
  font-size: 1.5em;
}

p {
  line-height: 1.4em;
}
x
img {
  border: #ccc 1px solid;
  padding: 5px;
}

header {
  background: #f6f9ff; /* Old browsers */
  background: -moz-linear-gradient(top, #f6f9ff 0%, #e3eaed 37%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f9ff), color-stop(37%,#e3eaed), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f9ff 0%,#e3eaed 37%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f9ff 0%,#e3eaed 37%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f9ff 0%,#e3eaed 37%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f6f9ff 0%,#e3eaed 37%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f9ff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

  margin-bottom: 70px;
  position: relative;
  border-bottom: 3px solid #ccc;


  .logo {
    position: absolute;
    max-width: 4.00%;
    height: auto;
    margin-left: 1%;
    margin-top: 0.4%;
    border: none;
  }
}

.notice {
  margin: 0;
  text-align: right;
  text-decoration: underline;
}

nav {

  font-family: $sans;
  font-weight: none;
  letter-spacing: 0px;
  font-size: 16px;

  ul {
    margin-top: 14px;
  }

  a {
    color: #333;
  }

  a:hover {
    color: $red;

  }
}

 ul ul {
    clear: both;
    display:none;
    width: 170px;
    position: absolute;
    z-index: 2;
    margin: 0;

  }



ul li:hover ul {
  display: block;
  padding-top:  5px;

  li {
    background: #5c5c5c;
  }

  li a {
    padding: 10px 10px;
    background: #5c5c5c;
    box-sizing: border-box;
    display: block;
    margin: 0 0 0;
    color: white;
    margin-top: 0px;
  }

  li a:hover {
    color: $red;
    background: black;
  }

}

ul li:hover ul li {
    float: none;
    clear: left;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;

}

.username {
  font-family: $sans;
  margin-top: 4%;
  font-weight: bold;
}


#primary-nav {
  float: left;
  width: 60%;
  margin-left: 8%;
  margin-top: 0.4%;
  padding-bottom: 0em;



  ul {
    margin-left: 0%;
  }
  li {
    float: left;
    padding-left: 3%;
  }
}

.login {
  letter-spacing: 0;
  float: right;
  width: 25%;
  padding-bottom: 0px;
  margin-right: 10px;
  font-size: 15px;


  li {
    float: right;
    padding-left: 0%;
    padding-right: 6%;
  }

  p {
    display: inline-block;
    vertical-align: top;
    line-height: 1em;
  }

  img.hover {
    border-color: $red !important;
    @include fadein(all);
  }

  img.thumbnail {
    text-align: center;
    display: inline-block;
    margin: -18px 0 0 0px;
    padding: px;
  }

  li.user:hover {
    .thumbnail, p {
      color: $red;
      border-color: $red;
      @include fadein(all);
    }
  }
}

.elsenavbar {
  margin-top: 20px;
  font-family: $sans;
  padding-top: 0px;
}


#notloggedin{
  margin-top: 2%;
}

footer {
  background: #a23d43; /* Old browsers */
  background: -moz-linear-gradient(top, #a23d43 0%, #77222b 50%, #7a1f2a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a23d43), color-stop(50%,#77222b), color-stop(100%,#7a1f2a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a23d43 0%,#77222b 50%,#7a1f2a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a23d43 0%,#77222b 50%,#7a1f2a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a23d43 0%,#77222b 50%,#7a1f2a 100%); /* IE10+ */
  background: linear-gradient(to bottom, #a23d43 0%,#77222b 50%,#7a1f2a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a23d43', endColorstr='#7a1f2a',GradientType=0 ); /* IE6-9 */

  border-top: thick solid #777;

  padding: 10px 0 0;
  margin-top: 100px;

  // sticky footer code



  .links {
    float: left;
      width: 70%;

      ul {
        padding: 0;
        margin-left: 5%;
      }
      li {
        float: left;
        padding-left: 10%;

      }
      a {
        color: $white;
        padding-left: 0%;
      }

      a:hover {
        color: #111;
      }
  }

  .copyright {
    float: right;
    width: 20%;
    color: white;
    position: relative;


    p {
      margin: 0  10px 10px 0px;
      text-align: right;
    }
    img {
      position: absolute;
      top: -6px;
      right: 42%;
      width: 35px;
      height: auto;
      padding: 0;
      border: none;

    }
  }
}

.window {
  width: 60%;
  margin: 0 auto 80px;
  border: #ccc 1px solid;
  border-radius: 5px;
  padding: 10px 100px 20px;
  background: #fff;

  h1 {
    text-align: center;
  }

  * {
    margin-top: 20px;
  }
}

.less-pad {
  padding: 10px 50px 20px;
}

.progress-bar {
  height: 15px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  margin-bottom: 50px;
  overflow: hidden;

}

.progress {
  margin:0;
  padding:0;
  height: 15px;
  width: 15px;
  background: $red;
}

div.headings {

  h3 {
    margin-bottom: 0 !important;
  }

  p {
   margin-top: 5px !important;
  }

  span {
    color: $red;
  }
}

.errors {
  margin-bottom: 15px;
  font-weight:bold;
  color: $red;
}

.profile-pic {
  width: 20%;
  height: auto;
  margin: 20px 0 0 0;
}

.link-path{
  font-size: 13px;
}


.title {
  width: 80%;
  margin: 0 auto;
}

