// Start Conversation

.start-conversation {
  margin-bottom: 30px;

  span {
    color: $red;
  }

}

// Conversations
div.conversations {
  .window {
    padding: 5px 30px 5px;
    margin-bottom: 30px;
    width: 80%;

    img {
      width: 30%;
      height: auto;
      margin-top: 0;
    }

    h3 {
      padding-bottom: 5px;
      margin-bottom: 20px;
      font-size: 1.2em;
      display: inline-block;

    }

    h4 {
      display: inline-block;
    }

    p {
      display: inline-block;
      vertical-align: top;
      font-size: 1.1em;
      padding-left: 20px;
    }

    div {
      float: left;
      margin-left: 1.5%;
    }
  }
}

.view-message {
  text-align: right;
  // margin-bottom: -20px;
  display: block;
  width: 100%;
}

.recipient {
  width: 35%;
  margin-bottom: 40px !important;
  margin-left: 0;
}

.time {
  width: 30%;

}
.subject {
  width: 30%;


  h3 {
    text-decoration: none !important;
    border-bottom: none;
  }

  h4 {
    font-size: 1.2em;
    margin-left: 10px;
  }
}

// Messages

.conversation {
  margin-top: 0;
  padding-top: 0;

  .window {
    margin: 0 0 20px 0;
    padding: 0px 50px 5px;
    width: 100%;

  }

  .message {
    margin: 0;
    width: 75%;
    float: right;
  }

  .time-sent {
    margin: 0;
    text-align: right;
    font-size: .8em;
    clear: both;
  }
}

.messages {
  width: 60%;
  float: left;
}

.message-box {
  width: 35%;
  float: right;
  margin: 0;
  margin-top: -27px;

  form {
    width: 100%;
    margin-top: 10px;
    vertical-align: top;
  }
}




