.current-investors {
  border: #ccc 2px solid;
  width: 100%;
  margin: 30px auto 0;
  padding: 10px;

  .investor {
    width: 30%;
    float: left;
    margin: 20px 0 20px 2.3333333%;
    border: #ccc 2px solid;
  }
}

