.welcome {
  padding-bottom: 50px;

  * {
    margin-top: 30px;
  }

  h3 {
    margin-top: 0;
    font-size: 1em;
    padding: 20px 20px;
    line-height: 1.3em;
  }

 #welcometitle1{
    font-size:35px;
    line-height: 1.3em;
    font-weight: none;
 }

 #welcomemessage {
  font-size: 20px;
 }
  
}

.button-path {
  appearance: 0;
  padding: 0px;
  background: #ccc;
  width: 100%;
  border: 1px solid #ccc;
  @include border-radius(8px);
}

.button-path:hover {
  background: #717171;
  color: white;
  @include fadein(all)
}