@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin img ($width_height, $padding) {
      display:inline-block;
      width: $width_height;
      height: $width_height;
      padding: $padding;
      border: 1px solid #ccc;
    }

@mixin fadein($effect) {
  -webkit-transition: $effect .5s ease;
  -moz-transition: $effect .5s ease;
  -ms-transition: $effect .5s ease;
  -o-transition: $effect .5s ease;
  transition: $effect .5s ease;
}


$red: #a23d43;
$darkred: #652629;
$white: #f2f2f2;
$black: #222;
$border-test: 1px solid black;
$sans: 'Lato';
$serif: 'Merriweather';
$bold: 700;
$light: 300;
$thin: 100;