<div class="window">
  <h1>Angels North is Currently Processing your Due Diligence Information</h1>

  <p> You will be notified within 5 business days in your <%= link_to "messages inbox", conversations_path %> as to whether or not your due diligence forms have passed. If they have passed you will be able to create and begin a round</p>
  </p>
</div>
